<div data-role="view" data-title="Axenda do Casamento" data-layout="main" data-model="APP.models.axenda">
    <!--<h1 data-bind="html: title"></h1>-->
    <div class="view-content">
        <ul data-role="listview" data-style="inset" data-type="group">
            <li>
                <ul>
                    <li>
                        <h4>12:00 Para os de Lugo, sae o bus dende a parada na Ronda onde está o Arenal. Dará unha volta á Ronda parando en máis sitios antees de salir para Sarria:</h4>
                    </li>                 
                    <iframe src="https://www.google.com/maps/embed?pb=!1m39!1m12!1m3!1d23339.571782267936!2d-7.5568723999999525!3d43.010988775042506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m24!1i0!3e2!4m3!3m2!1d43.010987!2d-7.552894599999999!4m5!1s0xd31ce8fac8ead4d%3A0x19f86ab0226c18b4!2sRonda+da+Muralla%2C+100%2C+27004+Lugo!3m2!1d43.014559399999996!2d-7.559532399999999!4m5!1s0xd31ce84f525f689%3A0xc2226483eae74012!2sR%C3%BAa+do+Merlo%2C+3%2C+27004+Lugo!3m2!1d43.0086726!2d-7.559787699999999!4m5!1s0xd31cc20b9f3ba73%3A0x9c3fb9225402b951!2sAvenida+Ram%C3%B3n+Ferreiro%2C+34%2C+27002+Lugo!3m2!1d43.0022161!2d-7.5510076999999995!5e0!3m2!1ses!2ses!4v1413315670623" width="100%" height="50%" frameborder="1" style="border:10px inset"></iframe>
                    <li>
                        <h4>13:00 Comeza a ceremonia na Igrexa de Santa Marina que está eiquí:</h4>
                    </li>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1241.754074789474!2d-7.414532999999983!3d42.77744444999992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDLCsDQ2JzM4LjgiTiA3wrAyNCc1Mi4zIlc!5e1!3m2!1ses!2ses!4v1410891219712" width="100%" height="50%" frameborder="1" style="border:10px inset"></iframe>
                    <li>
                        <h4>13:45 O acaba-la ceremonia baixaremos ata La Unión. Pódese ir andando, que está eiquí:</h4>
                    </li>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m25!1m12!1m3!1d1414.5631899976313!2d-7.414287425809737!3d42.777819224904015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m10!1i0!3e2!4m3!3m2!1d42.777445!2d-7.414533!4m3!3m2!1d42.778325099999996!2d-7.4134986!5e1!3m2!1ses!2ses!4v1410891693056" width="100%" height="50%" frameborder="1" style="border:10px inset"></iframe>
                    <li>
                        <h4>14:00 No Salón de baile de La Unión poderedes tomar un vermú mentras nós chegamos</h4>
                        <ul>
                            <li>Vermú: Nordesía (de Santiago)</li>
                            <li>Xamón: Celta (da Fonsagrada)</li>
                            <li>Queixo: (de Palas de Rei)</li>
                        </ul>
                        <br/>
                    </li>
                    <li>
                        <h4>15:00 Comezamos o Banquete nos Salóns do piso de arriba. Mirade cada un, a mesa que lle toque!</h4>
                        <ul>Menú
                            <li>1º: Pulpo (de Camariñas)</li>
                            <li>2º: Churrasco (de Sarria)</li>
                            <li>Postre: Filloas (de Sarria)</li>
                        </ul>
                        <br/>
                        <ul>Viños
                            <li>Branco (de Ribadavia)</li>
                            <li>Tinto (de Bodegas de José Quiroga)</li>
                        </ul>
                        <br/>
                        <ul>Espumosos e Licores
                            <li>Espumoso: Mar de Frades (do Salnés)</li>
                            <li>Sidra: Maeloc (de Chantada)</li>
                            <li>Licor: Café (de Ourense), Frai Florencio (de Sarria)</li>
                            <li>Augardente: (de Portomarín)</li>
                        </ul>
                        <br/>
                    </li>
                    <li>
                        <h4>17:00 Xa estaremos fartos de comida... así que comeza ó baile!!</h4>
                        <ul>Bebidas Espirituosas
                            <li>Ron: 17 de Maio (de Padrón)</li>
                            <li>Ginebra: Gin Sea (da Costa da Morte)</li>
                            <li>Whisky:</li>
                        </ul>
                        <br/>
                    </li>
                    <li>
                        <h4>19:00 Facemos unha paradiña para merendar. No Salón de baile teredes cousas ricas...</h4>
                    </li>
                    <li>
                        <h4>21:00 Xa vai moita troula... hai que picar algo para non desfalecer</h4>
                    </li>
                    <li>
                        <h4>23:00 Sae o bus dos "vellos" cara a Lugo... os novos inda aguantamos!</h4>
                    </li>
                    <li>
                        <h4>03:00 Ahora xa haberá moito canso, así que mandamos outro bus cara a Lugo!. E o que teña que marchar para o Hotel, que siga este mapa, non vaia a ser...:</h4>
                    </li>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m29!1m12!1m3!1d2928.517812918518!2d-7.412958165537064!3d42.77740197673917!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m14!1i0!3e2!4m5!1s0xd3047df6cd4ca93%3A0x5233c7c87b2abfe5!2sSociedad+Recreativa+la+Uni%C3%B3n%2C+Calle+de+Mat%C3%ADas+L%C3%B3pez%2C+19%2C+27600+Sarria%2C+Lugo!3m2!1d42.779094!2d-7.413247999999999!4m5!1s0xd3047d94ce174f1%3A0xecd7402179756470!2sHotel+Carr%C3%ADs+Alfonso+IX%2C+R%C3%BAa+do+Peregrino%2C+29%2C+27600+Sarria%2C+Lugo!3m2!1d42.775849!2d-7.411054!5e0!3m2!1ses!2ses!4v1413399541226" width="100%" height="50%" frameborder="1" style="border:10px inset"></iframe>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <li>
                        <h4>Domingo ás 12 da mañá: xa son horas de marchar... ou non!?</h4>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>