<div data-role="view" data-title="Axenda do Casamento" data-layout="main" data-model="APP.models.axenda">
    <!--<h1 data-bind="html: title"></h1>-->
    <div class="view-content">
        <ul data-role="listview" data-style="inset" data-type="group">
            <li>
                <ul>
                    <li>
                        <h4>12:00 Para os de Lugo, sae o bus dende a parada de buses na Ronda coa Avenida da Coruña. Parará tamén na Fonte do Rei antes de sair para Sarria.</h4>
                    </li>
                    <div class="botonmapa">
                        <button frameborder="1" style="border:6px outset" type="button" class="botonlugo" onclick="">
                        </button>
                    </div>
                    <li>
                        <h4>13:00 Comeza a ceremonia na Igrexa de Santa Marina.</h4>
                    </li>
                    <div class="botonmapa">
                        <button frameborder="1" style="border:6px outset" type="button" class="botoniglesia" onclick="">
                        </button>
                    </div>
                    <li>
                        <h4>13:45 Acabada a ceremonia baixaremos ata A Unión. Pódese ir andando.</h4>
                    </li>
                    <div class="botonmapa">
                        <button frameborder="1" style="border:6px outset" type="button" class="botonunion" onclick="">
                        </button>
                    </div>
                    <li>
                        <h4>14:00 No Salón de baile da Unión poderedes tomar un vermú mentras nós chegamos.</h4>
                        <ul>
                            <li>Vermú: Nordesía (de Santiago)</li>
                            <li>Xamón: Celta (da Fonsagrada)</li>
                            <li>Queixo: Arqueixal (de Palas de Rei)</li>
                        </ul>
                        <br/>
                        <h5>Tamén haberá unha humorística sorpresa...</h5>
                    </li>
                    <li>
                        <h4>15:00 Comezamos o Banquete nos Salóns do piso de arriba. Mirade cada un a mesa que lle toca!</h4>
                        <ul>Menú
                            <li>1º: Pulpo (da Ría)</li>
                            <li>2º: Churrasco (de Sarria)</li>
                            <li>Postre: Filloas (de Sarria)</li>
                        </ul>
                        <br/>
                        <ul>Viños
                            <li>Branco: Viña do avó (de Ribadavia)</li>
                            <li>Tinto: Bodegas de José Quiroga (de Sarria)</li>
                        </ul>
                        <br/>
                        <ul>Espumosos e Licores
                            <li>Espumoso:  ()</li>
                            <li>Sidra: Maeloc (de Chantada)</li>
                            <li>Licor: Mango (), Café ()</li>
                            <li>Augardente: (de Portomarín)</li>
                        </ul>
                        <br/>
                    </li>
                    <li>
                        <h4>17:00 Xa estaremos fartos de comida... así que comeza ó baile!!</h4>
                        <ul>Bebidas Espirituosas
                            <li>Ron: 17 de Maio (de Padrón)</li>
                            <li>Ginebra: Gin Sea (da Costa da Morte)</li>
                            <li>Vodka: Nordés (da Limia)</li>
                            <li>Whisky: Johnny Walker (houbo que sair fora a buscalo...)</li>
                        </ul>
                        <br/>
                        <h5>Comeza o desfile de músicos polo escenario...</h5>
                    </li>
                    <li>
                        <h4>19:00 Facemos unha paradiña para merendar. No Salón de baile teredes todo tipo de doces.</h4>
                    </li>
                    <li>
                        <h4>21:00 Xa vai moita troula... hai que picar algo para non desfalecer</h4>
                        <ul>Menú
                            <li>Empanadas (de Sarria)</li>
                            <li>Tortillas (de Sarria)</li>
                        </ul>
                        <br/>
                    </li>
                    <li>
                        <h4>22:00 Sae o bus dos "vellos" cara a Lugo... os novos inda aguantamos!</h4>
                    </li>
                    <li>
                        <h4>22:30 Comeza a sesión disco cos mellores éxitos da movida Sarriana e Lucense dos '80, '90 e '00.</h4>
                    </li>
                    <li>
                        <h4>03:00 Agora xa haberá moito canso, así que mandamos outro bus cara a Lugo!. E o que teña que marchar para o Hotel, que siga este mapa, non vaia a ser...</h4>
                    </li>
                    <div class="botonmapa">
                        <button frameborder="1" style="border:6px outset" type="button" class="botonhotel" onclick="">
                        </button>
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <li>
                        <h4>Domingo ás 12 da mañá: xa son horas de marchar... ou non!?</h4>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<style scoped>
    .botonmapa {
        text-align: center;
    }
    .botonlugo {
        width: 225px;
        height: 225px;
        position: absolute: top: 50%;
        background-image: url(styles/images/lugo.png);
    }
    .botoniglesia {
        width: 225px;
        height: 225px;
        position: absolute: top: 50%;
        background-image: url(styles/images/iglesia.png);
    }
    .botonunion {
        width: 225px;
        height: 225px;
        position: absolute: top: 50%;
        background-image: url(styles/images/union.png);
    }
    .botonhotel {
        width: 225px;
        height: 225px;
        position: absolute: top: 50%;
        background-image: url(styles/images/hotel.png);
    }
</style>