<div data-role="view" data-title="Axenda do Casamento" data-layout="main" data-model="APP.models.axenda">
    <!--<h1 data-bind="html: title"></h1>-->
    <div class="view-content">
        <ul data-role="listview" data-style="inset" data-type="group">
            <li>
                <ul>
                    <li>
                        <h4>13:00 Todo comeza na Igrexa de Santa Marina que está eiquí:</h4>
                    </li>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1241.754074789474!2d-7.414532999999983!3d42.77744444999992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDLCsDQ2JzM4LjgiTiA3wrAyNCc1Mi4zIlc!5e1!3m2!1ses!2ses!4v1410891219712" width="400" height="300" frameborder="0" style="border:0"></iframe>
                    <li>
                        <h4>13:45 Se todo sae ben... baixaremos ata a Unión, que está eiquí:</h4>
                    </li>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m25!1m12!1m3!1d1414.5631899976313!2d-7.414287425809737!3d42.777819224904015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m10!1i0!3e2!4m3!3m2!1d42.777445!2d-7.414533!4m3!3m2!1d42.778325099999996!2d-7.4134986!5e1!3m2!1ses!2ses!4v1410891693056" width="400" height="300" frameborder="0" style="border:0"></iframe>
                    <li>
                        <h4>14:00 No Salón de baile da Unión poderedes tomar un vermú mentras nós chegamos</h4>
                        <ul>
                            <li>Vermú: Nordesía (de Santiago)</li>
                            <li>Xamón: Celta (da Fonsagrada)</li>
                            <li>Queixo: (de Palas de Rei)</li>
                        </ul>
                    </li>
                    <li>
                        <h4>14:30 Comezamos o Banquete nos Salóns do piso de arriba. Mirade cada un o seu asiento!</h4>
                        <ul>
                            <li>1º: Pulpo (de Camariñas)</li>
                            <li>2º: Churrasco (de Sarria)</li>
                            <li>Postre: Filloas</li>
                        </ul>
                        <br/>
                        <ul>Viños
                            <li>Branco: Ribeiro</li>
                            <li>Tinto (para o pulpo): Amandi</li>
                            <li>Tinto (para o churrasco): Bodegas de José Quiroga</li>
                        </ul>
                        <br/>
                        <ul>Espumosos e Licores
                            <li>Espumoso: Mar de Frades (do Salnés)</li>
                            <li>Sidra: Maeloc (de Chantada)</li>
                            <li>Licor: de Café</li>
                            <li>Augardente: (de Portomarín)</li>
                        </ul>
                    </li>
                    <li>
                        <h4>16:00 Xa estaremos fartos de comida... así que comeza ó baile!!</h4>
                        <ul>Bebidas Espirituosas
                            <li>Ron: 17 de Maio (de Padrón)</li>
                            <li>Ginebra: Gin Sea (da Costa da Morte)</li>
                            <li>Whisky:</li>
                        </ul>
                    </li>
                    <li>
                        <h4>19:00 Facemos unha paradiña para merendar. No Salón de baile teredes cousas ricas...</h4>
                    </li>
                    <li>
                        <h4>21:00 Xa vai moita troula... hai que picar algo para non desfalecer</h4>
                    </li>
                    <li>
                        <h4>23:00 Sae o bus dos "vellos" cara a Lugo... os novos inda aguantamos!</h4>
                    </li>
                    <li>
                        <h4>03:00 Ahora xa haberá moito canso, así que mandamos outro bus cara a Lugo!</h4>
                    </li>
                    <li>
                        <h4>...</h4>
                    </li>
                    <br/>
                    <li>
                        <h4>Domingo ás 12 da mañá: xa son horas de marchar... ou non!</h4>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>