<div data-role="view" data-title="Camara" data-layout="main" data-model="APP.models.camara">
  <!--<h1 data-bind="html: title"></h1>-->
  <div class="view-content">
	<!--Saca foto y la sube al servidor-->
	<p><button onclick="captureImage()">
    <h3><br/>::::::::::::::::::::::::::::<br/></h3><h1>Saca foto</h1><h3><br/>::::::::::::::::::::::::::::<br/></h3></button></p>
   	<div id="rutafoto"></div>
   	<div id="rutasubida"></div>
	<img style="display:none;margin:10px auto; width:80%;" id="smallImage" src="" />
  </div>  
</div>