<div id="fotos" data-role="view" data-title="Fotos" data-layout="main" data-model="APP.models.fotos">
  <!--<ul data-role="listview" data-style="inset" data-template="contactsTemplate" data-bind="source: ds"></ul>-->
    <button width="100%"><h4>Pouco a pouco irás vendo as fotos que se vaian facendo.
        Dentro dunhos días, cando quitemos as que non se poidan ensinar, deixarémosvos tódalas fotos compartidas en 
        <a href="https://www.dropbox.com/sh/w58f8u7z85amyzd/AAAC7jImYFOsDmZAeJK2fcBza?dl=0">dropbox</a></h4></button>
    <ul data-role="listview" data-style="inset" data-type="group"><li>
        <ul id="tabstrip-selfie-fotos"><!--MUESTRA LAS FOTOS--></ul>
    </li></ul>
</div>

<!-- this is the template used by the listview. template items are automatically
     wrapped in an <li> by Kendo UI Mobile -->
<!--<script type="text/x-kendo-template" id="contactsTemplate">
  <a data-bind="click: alert">#: data.name #</a>
</script>-->