<div id="inicio" data-role="view" data-title="Inicio" data-layout="main" data-model="APP.models.inicio">
    <h4>Pulsando no menú, con esta App poderás:</h4>
    <div class="view-content">
        <ul data-role="listview" data-style="inset" data-type="group">
            <li>
                <h4>[Axenda] ve-la axenda do Casamento de Lia e Moncho.</h4>
                <h4>[Camara] facer fotos e subilas automáticamente a un servidor seguro onde gardaremos tódalas fotos do Casamento.
                    <p>¡TES QUE TER CONEXION A INTERNET!</p></h4>
                <h4>[Fotos] ir vendo as fotos que a xente vaia facendo</h4>
            </li>
        </ul>
    </div>
</div>